<section class="bottom-container">
    <footer>
      <div class="foot">
            <a href="https://www.reddit.com/r/anime/" target="_blank"><i class="fa-brands fa-reddit fa-2x"></i></a>
            <a href="https://discord.gg/otaku" target="_blank"><i class="fa-brands fa-discord fa-2x"></i></a>
            <a href="https://t.me/Anime_x_Clan" target="_blank"><i class="fa-brands fa-telegram fa-2x"></i></a>
            <a href="https://twitter.com/Anime" target="_blank"><i class="fa-brands fa-twitter fa-2x"></i></a>  
        <h1>© Copyright Abhay Semwal</h1>
      </div>
    </footer>
  </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="\index.js"></script>
  </body>
  </html>